*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* colori debug */
.blu{background-color: rgb(59, 59, 210);}
.red{background-color: rgb(255, 78, 78);}
.viola{background-color: rgb(206, 49, 249) ;}
.giallo{background-color: yellowgreen ;}
.verde{background-color: green;}
/* .azzurro{background-color: rgb(0, 204, 255);} */

/* colori ufficiali */
.bianco{background-color: #ffffff;}
.azzurro{background-color: #b4d0e7;}
/* flex */
.display-flex{display: flex;}
.flex-row{flex-direction: row;}
.flex-column{flex-direction: column;}
.justify-center{justify-content: center;}
.justify-space-bt{justify-content: space-between;}
.justify-space-around{justify-content: space-around;}
.justfy-end{justify-content: end;}
.align-item-center{align-items: center;}
.align-item-start{align-items: start;}
.flex-xwrap{flex-wrap: wrap;}
/* margini */
.margin-0-auto{margin: 0 auto;}
.margin-auto{margin: auto;}

/* classi comuni */
.blu-button{
    background-color: #0061ff;
    color: white;
    border: 0;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    transform: scale(1);
}

p{line-height: 1.3em;}

.text-align-center{text-align: center;}


