/* header */
.header-container{
    height: 4em;
    position: fixed;
    width: 100%;
    z-index: 999;
    -webkit-box-shadow: 0px 10px 13px -7px #000000a1, 3px 7px 15px 15px rgba(0, 0, 0, 0.112); 
    box-shadow: 0px 10px 13px -7px #000000a1, 3px 7px 15px 15px rgba(0,0,0,0.14);
}
.w30header{
    min-width: 30%;
}
.link-header{
    text-decoration: none;
    color: black;
}
#list-item{
    display: none;
}
@media (max-width: 800px) {.link-header
    {
        display: none;
    }
}
@media (min-width: 800px) {.list-header-hidden
    {
        display: none;
    }
}
.list-header-hidden{
    align-self: center;
}
.fa-bars:hover + #list-item{
    display: block;
}
#list-item:hover{
    display: block;
}
#list-item{
    margin-top:50%;
    border-radius: .5em;
    padding: .5em;
    list-style: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 7px 17px 15px rgba(180,208,231,0.45); 
    box-shadow: 0px 10px 13px -7px #000000, 3px 7px 17px 15px rgba(180,208,231,0.45);
}
#list-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#header-button{
    padding: .5em;
}
h1{
    font-size:60px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#sec-1-container{
    padding-top: 5%;
}
.boxed-w60{
    max-width: 60%;
}
.jumbotron{
    max-height: 20%;
}
.jumbotron button{
    padding: 1em;
    margin: 5% 0;
}
.jumbotron-img{
    width: 100%;
    position: relative;
    top: 10%;
    transform: scale(1.2);
    padding-left:5%;
}
.jumbo-w30{
    width: 30%;
}
.jumbo-w70{
    width: 70%;
    position: relative;
}
.jumbotron span{
    display: block;
    padding: 1em 0;
}
.fa-arrow-down{
    font-size: 40px;
    color: black;
    text-decoration: none;
    padding: 10% 0 ;
}

.boxed-50vw{
    width: 50%;
}

#section-2-container{
    margin-top: 10vh;
    font-size: 25px;
}
#section-2-container :first-child{
    padding: 3% 0;
}
#section-2-container span{
margin-right: 2em;
}

.long-box{
    margin-top: 10%;
    width: calc(100% / 3 - 3%);
    align-content: space-around;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.padding-left{
    padding-left: 20px;
    
}
.plan-type{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    line-height: 2.5em;
}
#piani-e-prezzi h2{
    padding:1em 0;
}
.price{
    font-weight: 800;
}
.semi-transparent{
    color: rgba(0, 0, 0, 0.259);
    display: block;
    padding-bottom: 2em;
}

.diponible-space{
    padding: 1em 0;
}
.share-info{
    padding-bottom: 2em;
}
.column-button{
    padding:5% 10%;
    margin-bottom: 10%;
}
.column-br{
    width: 20%;
    margin: 15% 0;
}

.fa-check{
    color: #378dff;
    font-size: 18px;
}
.check{
    padding-top: 1em;
    list-style: none;
}
.check:first-child{
    padding-top:1.5em
}
.check:last-child{
    padding-bottom:1.5check
}
#section-4-box{
    margin-bottom: 5vh;
    margin-top: 5vh;
}
#section-4-box:first-child{
    line-height: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.1);
}

#sec-4-left{
    width: 70%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
#sec-4-left:first-child{
    padding: 2%;
}
#sec-4-left strong{
    margin-top: 1em;
}
#sec-4-left span{
    align-self: end;
    line-height: 1em;
    padding-top: 2em;
    padding-bottom: 1em;
}

#sec-4-right{
    width: 30%;
    height: 100px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
#sec-4-right button{
    padding: 1em 2em;
    margin-top: 10%;
}
#sec-5-boxed{
    height: 400px;
    margin-bottom: 10%;
}

.sec-5-left{
    width: 60%;
}
#sec-5-img{
    width: 100%;
}
.sec-5-right{
    width: 40%;
    padding: 2em 2em;
}
.sec-5-right h3{
    font-size: 25px;
    margin-bottom: 1em ;
}
.sec-5-right button{
    background-color: white;
    padding: 1em 2em;
    align-self: flex-start;
    margin-top: 2em;
}
.section-6 h2{
    font-size: 30px;
}
.sec-6-card{
    width: calc(100% / 3);
    margin-top: 5%;
}
.sec-6-card p{
    padding: 1em 0;
}
.card-img{
    width: 100%;
}

#sec-7{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#sec-7 h2{
    font-size:35px;
    padding: 1em 0;
}
#sec-7 a{
    color: #378dff;
}

.sec-8-box{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.sec-8-mini-box{
    width: 50%;
    height: 50%;
    /* border: 2px solid greenyellow; */
}
.sec-8-mini-box-2{
    width: 50%;
    height: 50%;
}
.sec-8-mini-box:first-child{
    background-color: #a2d39b;
    border: 20px solid #d1e9cd;
}
.sec-8-mini-box img,.sec-8-mini-box-2 img{
    width: 50%;
    filter: invert(1);
}
/* .sec-8-mini-box img{
    filter: invert(1);
} */
.sec-8-mini-box:nth-child(2){
    background-color: #61082b;
}

.sec-8-mini-box:nth-child(3){
    background-color: #0093ce;
}

.sec-8-mini-box:nth-child(4){
    background-color: #ff1c1c;
}
.sec-8-mini-box-2:first-child{
    background-color:#d5001f ;
}
.sec-8-mini-box-2:nth-child(2){
    background-color: #b4d0e7;
}
.sec-8-mini-box-2:nth-child(3){
    background-color: #0d2481;
}
.sec-8-mini-box-2:nth-child(4){
    background-color: #ffd830;
}
#section-8-box-2{
    padding: 2em;
    overflow-y: scroll;
    background-color: #f5f5f5;
}
#section-8-box-2 img{
    width: 50%;
}
#section-8-box-2 p{
    line-height: 1.5em;
}
/* dopo andra aggiunto padding */
#section-9-box{
    padding: 5%;
    font-size: 25px;
    color: #660c2b;
    }

#sec-9-left{
        width: 70%;
}

#sec-9-right{
    width: 30%;
}
#sec-9-right button{
    background-color: #f5f5f5;
    border: 1px solid black;
    padding: 1em 2em;
}
.section-10-row{
    font-weight: 500;
    padding: 2em;
    border-top: 2px solid rgb(0, 0, 0, 0.1);
}
.section-10-row span{
    display: block;
    font-weight: 600;
}
.hidden{
    display: none;
    padding:1em;
}
.chevron:hover + .hidden{
    display: block;
}
.fa-chevron-down{
    display: block;
}
.fa-chevron-down:hover{
    transform: rotate(180deg);
}
#section-10-container{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#section-10-container h2{
    font-size: 25px;
    padding-bottom: 5%;
}
footer{
    background-color: black;
}

#footer-container{
    margin-top:5vh;
}

#footer-link-box{
    width: calc(100% / 5 - 5%);
    padding-bottom:5vh;
    column-gap: 5%;
}
#footer-link-box h3{
    color: white;
}
footer li{
    list-style: none;
    padding-top: 1em;
}
.footer-link{
    color:white;
    text-decoration: none;
}
.footer-link:hover{
    text-decoration: underline;
}
.footer-br{
    width: 20%;
}

.footer-last-section{
    padding: 2% 0;
    color:grey ;
}
select{
    padding: .5em;
    background-color: black;
    color: grey;
    border:0;
}
.footer-last-section div{
    border-top: 2px solid grey;
    width: 20%;
    padding-top: 2em;
}