/* header */
.header-container{
    height: 4em;
    position: fixed;
    width: 100%;
}
.w30header{
    width: 30%;
}
.link-header{
    text-decoration: none;
    color: black;
}

#header-button{
    padding: .5em;
}
h1{
    font-size:60px;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#sec-1-container{
    /* min-height: 650px; */
    padding-top: 5%;
}
.boxed-w60{
    width: 60%;
}
.jumbotron{
    min-height: 100%;
}
.jumbotron button{
    padding: 1em;
    margin: 5% 0;
}
.jumbotron-img{
    width: 100%;
}
.jumbo-w30{
    width: 30%;
    height: 100%;
}
.jumbo-w70{
    height: 300px;
    width: 70%;
}
.jumbotron span{
    display: block;
    padding: 1em 0;
}
.fa-arrow-down{
    font-size: 40px;
    color: black;
    text-decoration: none;
    padding: 10% 0 ;
}

.boxed-50vw{
    width: 50%;
}

#section-2-container{
    margin-top: 10vh;
    font-size: 25px;
}
#section-2-container :first-child{
    padding: 3% 0;
}
#section-2-container span{
margin-right: 2em;
}

.long-box{
    margin-top: 10%;
    width: calc(100% / 3 - 3%);
    align-content: space-around;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.padding-left{
    padding-left: 20px;
    
}
.plan-type{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    line-height: 2.5em;
}
#piani-e-prezzi h2{
    padding:1em 0;
}
.price{
    font-weight: 800;
}
.semi-transparent{
    color: rgba(0, 0, 0, 0.259);
    display: block;
    padding-bottom: 2em;
}

.diponible-space{
    padding: 1em 0;
}
.share-info{
    padding-bottom: 2em;
}
.column-button{
    padding:5% 10%;
    margin-bottom: 10%;
}
.column-br{
    width: 20%;
    margin: 15% 0;
}

.fa-check{
    color: #378dff;
    font-size: 18px;
}
.check{
    padding-top: 1em;
    list-style: none;
}
.check:first-child{
    padding-top:1.5em
}
.check:last-child{
    padding-bottom:1.5check
}
#section-4-box{
    margin-bottom: 5vh;
    margin-top: 5vh;
}
#section-4-box:first-child{
    line-height: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.1);
}

#sec-4-left{
    width: 70%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
#sec-4-left:first-child{
    padding: 2%;
}
#sec-4-left strong{
    margin-top: 1em;
}
#sec-4-left span{
    align-self: end;
    line-height: 1em;
    padding-top: 2em;
    padding-bottom: 1em;
}

#sec-4-right{
    width: 30%;
    height: 100px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
#sec-4-right button{
    padding: 1em 2em;
    margin-top: 10%;
}
#sec-5-boxed{
    height: 400px;
    margin-bottom: 10%;
}

.sec-5-left{
    width: 60%;
    height: 100%;
}

.sec-6-card{
    height: 350px;
    width: calc(100% / 3);
    border: 3px solid rgb(0, 0, 255);
    margin-top: 5%;
}

#sec-7{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.sec-8-box{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    border: 3px solid rgb(182, 1, 25);
}

.sec-8-mini-box{
    width: 50%;
    height: 50%;
    border: 2px solid greenyellow;
}
/* dopo andra aggiunto padding */
#section-9-box{
    height: 300px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    }

#sec-9-left{
        width: 70%;
        height: 300px;
}

#sec-9-right{
    width: 30%;
    height: 300px;
}

.section-7-row{
    height: 80px;
    border-top: 2px solid greenyellow;
}

#section-10-container{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

footer{
    height: 50vh;
}

#footer-container{
    height: 40vh;
    margin-top:5vh;
}

#footer-link-box{
    width: calc(100% / 5);
    border: 3px solid black;
}